<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de RPG</title>
</head>
<body>
    <header>
        <a href="{% url 'home' %}">Home</a> | 
        <a href="{% url 'lista_mestres' %}">Mestres de Jogo</a> | 
        <a href="{% url 'lista_jogadores' %}">Jogadores</a>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p> Guilherme 2024 © - RPG Game System</p>
    </footer>
</body>
</html>
